
body {
    background-color: rgb(255, 254, 251);

}
/*菜單*/
.menu ul{
   
    justify-content: space-evenly;
    display: flex;
    padding: 0px;
    margin: 0;
    list-style:none ;
    flex-wrap: wrap;
}
 
.menu a{
    background-color: rgb(255, 254, 251);
    text-decoration: none;
    color: rgb(21, 59, 146);
    font-family: fantasy;
    font-size: 22px;
    text-align: center;
    display: block;
    padding:10px 40px ;
    min-width: 200px;
   
}
.menu a:hover{
   color: rgb(255, 254, 251);
   background-color: rgb(66, 158, 166);
   border-radius: 3px;
}
.menu a:active{
    color:  rgb(255, 254, 251);
    background-color:rgb(21, 59, 146);

}
@media screen and (max-width: 800px){

   .menu ul{
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }

   .menu a{
      width: 90%;          
      max-width: 300px;     
      padding: 10px;
      font-size: 18px;
   }
}
/*首頁*/
h1 {
   font-family: papyrus;
    color: rgb(21, 59, 146);
    text-align: center;
    font-size: 30px;
    justify-content:center
}
p {color: black;
    text-align: center;
}
.name{
    color:  rgb(21, 59, 146);
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
.imageh1{
    display: block;
    margin: 0 auto;
    width:300px
}
.jasu{
    color: aliceblue;font-size: 20px;

}
.n1{
    background-image: url(images/p2.webp);
    background-attachment: fixed;
    width: 0 auto;height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}/*首頁背景*/
.p1{
width: auto;height: 250px;
display: block;
margin: 0 auto;
}
.boxj{
padding: 100px 10px ;
    background-color:rgb(21, 59, 146);
    display:block ;
    align-items: center;
    width: 100%;height: 200px;
    margin: 0 auto;
border: 3px;
    
}

.imagea1{
    display: block;
    margin: 0 auto; 
    gap:20px;

}
/*about*/
.box{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: auto;height: 700px;
    background-color: rgb(236, 235, 228);
    gap:45px
}/*關於我div設定*/
.boxz{ 
    width: auto;
    height:400px;
    display:block;
    border-radius: 6px;  
}/*關於我照片設定*/
.colorbox{
    background-color: rgb(204, 153, 141);
    width:auto ;height:30px ;margin: 0px;
} 
.boxp p{
    color: rgb(204, 153, 141);
    font-size:22px;
}/*我的技能div設定*/
.box h2{
    color: rgb(204, 153, 141);
   font-family: Arial, Helvetica, sans-serif;
}

.boxrab p{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.boxrab {
   
    background-color:rgb(21, 59, 146);
    justify-content:center;
    display: flex;
    align-items: center;
    padding: 50px;
}/*rabbit介紹div*/
.boxr2{
    width:200px;height: auto ;
    display: flex;
    padding: 50px;
    align-items: center;
    
 }/*rabbit介紹小圖*/
 .boxrr{background-color:rgb(21, 59, 146)
;display: flex;justify-content:center;
width: auto;gap:20px; 

}
.boxr1{
    display:flex ;
   width:500px;
    height:350px;
    border-radius: 6px; 
   align-items: center;
   flex-wrap: wrap;
    padding: 20px 66px;
    border: 3px;
    }/*rabbit介紹圖片*/
.boxrab h1{
    font-family: papyrus;
    align-items: center;margin: 0px;
    color:rgb(204, 153, 141);justify-content:center
    ;font-size: 50px;
}
.software{
    width: 50px;height: 50px ;
    display: inline;
    padding:20px;
    align-items: center;
}/*ps ai圖片設定*/
h2 {
    color: rgba(0, 0, 0, 0.788);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wf{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 235, 228);
   
}
.wf1{
     display:flex;
    flex-wrap: wrap;
    gap: 20px; 
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 235, 228);
padding: 15px;
}
.hf{
    text-align: center;font-size:40px;
    background-color:rgb(255, 255, 255);
    margin: 0px;color:rgb(204, 153, 141);
    padding: 10px;
}

addres{
    text-align: center;
}
/*phone*/
 

.box3 {
   background-color: rgb(236, 235, 228); 
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.box3 img {
   width: 100%;
   max-width: 700px;
   height: auto;
}

.box3 p {
   margin-top: 9px;
}

.box4 {
   background-color: rgb(236, 235, 228); 
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.box4gif {
   width: 100%;
   max-width: 700px;
   height: auto;
}

.box4 img {
   width: 100%;
   max-width: 700px;
   height: auto;
}

.box5 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.boxall5 {
   display: flex;
   justify-content: center;
   background-color: rgb(236, 235, 228);
   gap: 10px;
}

.img1 {
   width: 100%;
   max-width: 600px;
   height: auto;
   margin-top: 15px;
}

.wh3 {
   background-color: rgb(236, 235, 228);
   text-align: center;
   font-family: papyrus;
   margin: 0px;
   color: rgb(22, 244, 208);
   font-size: 25px;
}

.w3p {
   background-color: rgb(236, 235, 228);
   text-align: center;
   margin: 0px;
}

 
@media screen and (max-width: 800px) {

   .boxall5 {
      flex-direction: column;
      align-items: center;
   }

   .img1 {
      max-width: 330px;
   }

   .wh3 {
      font-size: 20px;
   }
}
@media screen and (max-width: 800px) {

  
  .box {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 20px 10px;
  }
 
  .boxz {
    width: 100%;
    max-width: 280px;
    height: auto;
  }
 
  .boxp p {
    font-size: 18px;
    text-align: center;
  }
 
  .boxrr {
    flex-direction: column;
    gap: 10px;
  }
 
  .boxr1 {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
  }
 
  .boxr2 {
    width: 100%;
    max-width: 200px;
    padding: 10px;
  }
 
  .boxrab {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .boxrab h1 {
    font-size: 32px;
  }

  .boxrab p {
    font-size: 18px;
  }
 
  .software {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
 
  .wf, .wf1 {
    flex-direction: column;
    padding: 10px;
  }

  .hf {
    font-size: 28px;
  }
}
 